{% extends 'layout.html' %}
{% block body %}
	<p><a href="http://www.buzzfeed.com/catesish/help-am-i-going-insane-its-definitely-blue">For some reason</a>, white and gold things appear blue and black to a large number of people. This app automatically corrects the colors in your images so they appear properly white and gold to everyone.</p>
	<p>Connect this app to your Dropbox using the button below, and then drop any images into the folder <code>Dropbox/Apps/whitegold</code> to get an automatically color-corrected version of the image.</p>
	<img src="/static/whitegold.gif" style="width:550px;display:block;margin:0 auto;">
    <a class="button" href="login">Connect to Dropbox!</a>
{% endblock %}
